/* General Styles */
body {
  font-family: Arial, sans-serif;
  transition:  0.3s, color 0.3s;
  background: url("../assets/background_image.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.light-mode {
  background: #edebeb;
  color: #333;
}

.dark-mode {
  background: #222;
  color: white;
  
}

.app-container {
  text-align: center;
  padding: 20px;
}

.todo-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(3, 11, 16, 0.2);
  background: #D17D98;
}

h1 {
  text-align: center;
  color:#e76ba1;
}
h2 {
  text-align: center;
  color:#ffffff;
}
.light-mode h1{
  color: #7D1C4A;
}
input[type="text"] {
  padding: 10px;
  width: 90%;
  margin: 5px;
  border: 1px solid #121210;
  border-radius: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background: #ffffff;
  border: 1px solid #0d0c0c;
  box-shadow: 0px 4px 8px rgba(1, 5, 7, 0.518);
}

button:hover {
  opacity: 0.8;
  color: #7D1C4A;
}
button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}
.filters button {
  margin: 5px;
  background: #7D1C4A;
  color: white;

}
.filters button:hover {
  opacity: 0.11;
  color: rgb(238, 186, 232);

}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F4CCE9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.dark-mode li {
  background: #F4CCE9;
  color:#121210
}

.completed {
  text-decoration: line-through;
  opacity: 0.8;
}
.delete-all-button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background: #7D1C4A;
  color: white;
  border: 1px solid #0d0c0c;
  box-shadow: 0px 4px 8px rgba(1, 5, 7, 0.518);
}

.delete-all-button:hover {
  opacity: 0.11;
  color: #D17D98;
}

.delete-all-button:disabled {
  background: #7D1C4A ;
  cursor: not-allowed;
  opacity: 0.8;
}
.select-all-container {
  display: flex;
  align-items: center;
  justify-content:left;
  margin: 10px 0;
  
}

.select-all-container input {
  margin-right: 5px;
  transform: scale(1.5);
  cursor: pointer;
 
}

.select-all-container label {
  font-size: 13px;
  font-weight: bold;
  color: #7D1C4A ;
  cursor: pointer;
}

